<% provide :title, "Help" %>
<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Tutorial at the
	<%= link_to "Rails Tutorial help section", "http://www.railstutorial.org/#help" %>
	To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
