<h1>Hi, <%= @user.name %></h1>
<p>To activate your account click on the link below</p>
<p>
  <%= link_to "Activate Account", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
