<h1>Sample App</h1>

<p>Hi <%= @user.name %></p>

<p>
	Welcome to the Sample App. Click on the link below to activate your account:
</p>
<%= link_to 'Reset Password', edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours.</p>

<p>
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
</p>
