<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% if flash.any? %>
			<% flash.each do |key, msg| %>
				<%= content_tag :div, msg, class: "alert alert-#{key}" %>
			<%end%>
		<%end%>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<br><br>
		<%= debug params if Rails.env.development? %>
	</div>
</body>
</html>
